groq
chromadb
sentence-transformers
streamlit
fastapi
uvicorn
PyPDF2
python-dotenv
rank-bm25
numpy
pandas
matplotlib
requests
beautifulsoup4
tiktoken
langchain
langchain-community
pytesseract
pdf2image
Pillow
